@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --mainColor: #1cb698;
  --mainWarning: rgb(248, 145, 11);
  --mainDanger: rgb(218, 6, 6);
  --mainSuccess: rgb(108, 185, 248);
  --mainGreat: rgb(53, 175, 74);
  --mediumDark: #252a2e;
  --Dark: #1e2326;
  --white: #ffffff;
}

body,
#root {
  background: var(--Dark);
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h100 {
  height: 100vh !important;
}

.w-90 {
  width: 90% !important;
}

.w-80 {
  width: 80% !important;
}

.w-65 {
  width: 65% !important;
}

.text-color-main {
  color: var(--mainColor) !important;
}

.title-custom {
  text-align: center;
  font-family: "Righteous", cursive;
  font-size: 50px;
  display: flex;
  position: relative;
  justify-content: center;
}

.title-custom::after {
  width: 70px;
  bottom: -5px;
}
.title-custom::before {
  width: 50px;
  bottom: -12px;
}
.title-custom::after,
.title-custom::before {
  content: "";
  border-bottom: solid 1px var(--mainColor);
  position: absolute;
}

select.input-custom {
  padding: 15px 18px !important;
}

label.input-custom {
  display: flex;
  align-items: center;
}

.user-list-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  align-items: center;
}

.user-list-item:first-child {
  margin-top: 0px !important;
}

.user-list-item {
  position: relative;
  background-color: var(--mediumDark);
  height: 120px;
  margin: 20px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.user-list-item a {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.user-list-item a:hover {
  text-decoration: none;
}

.user-list-item-info {
  text-decoration: none;
  color: var(--white);
  transition: color ease 0.3s;
  -webkit-transition: color ease 0.3s;
  -moz-transition: color ease 0.3s;
  -ms-transition: color ease 0.3s;
  -o-transition: color ease 0.3s;
}

.user-list-item:hover .user-list-item-info {
  text-decoration: none !important;
  color: var(--mainColor);
  transition: color ease 0.3s;
  -webkit-transition: color ease 0.3s;
  -moz-transition: color ease 0.3s;
  -ms-transition: color ease 0.3s;
  -o-transition: color ease 0.3s;
}

.user-list-item:hover .user-list-item-container-image {
  box-shadow: 0px 0px 12px var(--mainColor);
  transition: box-shadow ease 0.3s;
  -webkit-transition: box-shadow ease 0.3s;
  -moz-transition: box-shadow ease 0.3s;
  -ms-transition: box-shadow ease 0.3s;
  -o-transition: box-shadow ease 0.3s;
}

.user-list-item-container-image {
  position: absolute;
  width: 145px;
  border: solid 6px var(--mainColor);
  overflow: hidden;
  left: -50px;
  top: -10%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user-list-item-container-image .user-list-item-image {
  width: 100%;
}

.user-list-item-status {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 25px;
  padding: 0 2%;
  color: var(--white);
  font-size: 13px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.user-list-item-status[data-status="employed"],
.card-profile-status[data-status="employed"] {
  background-color: var(--mainSuccess);
}

.user-list-item-status[data-status="unemployed"],
.card-profile-status[data-status="unemployed"] {
  background-color: var(--mainDanger);
}

.user-list-item-status[data-status="freelancer"],
.card-profile-status[data-status="freelancer"] {
  background-color: var(--mainGreat);
}

.card-profile-info-details .card-profile-status {
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 10%;
  color: var(--white);
  font-size: 13px;
  border-radius: 4px;
}
.card-profile,
.card-profile-info {
  background-color: var(--mediumDark);
  display: flex;
  padding: 0 10px 20px 10px;
  box-shadow: 0px 18px 18px 0 rgb(0 0 0 / 20%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card-profile-info {
  width: 600px;
  height: 330px;
  margin-top: 50px !important;
  margin-left: 25px;
  flex-direction: column;
  align-items: flex-start;
}

.card-profile-info .title-custom {
  font-size: 30px;
  display: block;
  margin-left: 15px;
}

.card-profile-info-details {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0 100px 0 20px;
  width: 100%;
}

.card-profile-info-details li {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.card-profile-info-details span {
  color: var(--mainColor);
  margin-right: 10px;
}

.card-profile {
  position: relative;
  width: 450px;
  height: 330px;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}

.card-profile .profile-content-image {
  position: absolute;
  width: 300px;
  height: 300px;
  top: -155px;
  padding: 0;
  overflow: hidden;
  border: solid 10px var(--mainColor);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.card-profile .profile-content-image img {
  width: 100%;
}

.card-profile-container .title-custom::after,
.card-profile-container .title-custom::before {
  display: none;
}

.card-profile-container {
  width: 800px;
  height: auto;
  padding: 25px 5px;
  margin-bottom: 20px;
}

.input-custom .input-custom-file {
  cursor: pointer;
  display: block;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.input-custom {
  background-color: #252a2e;
  border: 0px solid #d2d2d2;
  border-radius: 5px;
  height: 50px;
  padding: 18px;
  line-height: 50px;
  box-shadow: 0px 18px 18px 0 rgb(0 0 0 / 20%);
  font-size: 15px;
  color: #fff;
  letter-spacing: 0.5px;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.card-register {
  width: 800px;
  height: auto;
  padding: 25px 5px;
  margin: 25px 0;
}

.card-login {
  width: 500px;
  height: 350px;
}

.create-account,
.login-account {
  font-size: 14px;
}

.create-account a,
.login-account a {
  color: var(--mainColor);
}

.login-account a {
  margin-left: 10px;
}

.create-account a {
  display: block;
}

.btn-custom-primary,
.btn-custom-primary:focus,
.btn-custom-primary:active {
  background-color: var(--mainColor) !important;
  border-color: var(--mainColor) !important;
  width: 150px;
  color: var(--white) !important;
  font-size: 15px;
}

.btn-custom-primary:hover {
  filter: brightness(1.2);
  -webkit-filter: brightness(1.2);
}

.btn-custom-primary:active {
  filter: brightness(1.4);
  -webkit-filter: brightness(1.4);
}

.bg-login {
  background-image: url(../img/bg-login.jpg);
  background-size: cover;
  background-position: center;
}
